---
variables:
  - name: test1
    description: cool var test1
files:
  - name: vhdl_test
    fileName: test.vhd
    description: Test VHDL template
directories:
  - name: default_vunit
    description: Default vunit template
    structure:
      src:
        - vhdl_test
      tests:
